@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Proyecto SENA</h1>
    <p class="lead">Proyecto de programación creando una página web.</p>
    <p><a href="/Usuario/Login" class="btn btn-warning">Inicia Sesión</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administración de usuarios</h2>
        <p><a href="/Usuario/Index" class="btn btn-success">Usuarios</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administración de proveedores</h2>
        <p><a href="/Proveedor/Index" class="btn btn-info">Proveedores</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administración de clientes</h2>
        <p><a href="/Cliente/Index" class="btn btn-danger">Clientes</a></p>
    </div>
</div>